<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Elige tu película favorita</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
  <h1 class="text-center mb-4">Elige tu película favorita</h1>

  <form th:action="@{/sumarVoto}" method="post">
    <div class="row justify-content-center">

      <div th:each="pelicula : ${peliculas}" class="col-12 col-md-4 text-center">
        <label>
          <input type="radio" name="id" th:value="${pelicula.id}" class="form-check-input">
          <img th:src="${pelicula.url}" th:alt="${pelicula}" class="img-fluid d-block mx-auto">
        </label>
        <p class="mt-2"><span th:text="${pelicula.url}"></span></p>
      </div>

    </div>

    <!-- Botón para enviar el formulario -->
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary">Votar</button>
    </div>
  </form>

</div>
</body>
</html>
